.cuerpo{
    background-color: beige;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.button{
    text-align: center;
    width: 100%;
    grid-column: 1 / span 2;
    padding-top: 2rem;
}

.form{
    box-shadow: 2px 2px 8px black;
    padding: 2rem;
    display: grid;
    align-items: center; 
    
}
.input{
    grid-column: 2;
}
.label{
    grid-column: 1;
}
.linea{
display: contents;
padding: 2rem;
}
