

.socaloSucursales{

padding: 1rem;
display: flex;
width: 90vw;
margin: auto;
justify-content: space-evenly;
background-color: rgb(230, 230, 175);
box-shadow: 2px 2px 8px black;
margin-bottom: 5rem;

}

.tarjetaSucursal{
display: flex;
flex-direction: column;
text-align: center;
text-shadow: 2px 2px 8px black;
}

.imagenSanatorio{
 
    margin-top: 2rem;
    width: 14rem;
    height:9rem;
    box-shadow: 2px 2px 8px black;
}