/* Reset CSS básico */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


body{

  background-color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  
}

.fondo::before {
  position:absolute;
  content: "";
  background-image: url("../imagenes/fondoDoctor.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  opacity: 0.3;
}
.fondo{
  position: relative;
  z-index: 2;
}
.cuerpo{
background-color: rgb(167, 167, 212);
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;

}
footer{
 background-color: rgb(66, 66, 172);
 display: flex;
 justify-content: center;
 text-align: center;
 box-shadow: 2px 2px 8px black;
}