body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}


.formulario{
    background-color: beige; 
    padding: 3rem;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 8px black;

}

.seccion1{
    display: flex;
    border-radius: 1rem;
    border: 2px blue solid;
    box-shadow: 2px 2px 8px blue;
    padding: 2rem;
    margin: 0%;
}

.seccion2{
    display: grid;
    justify-content: center;
    border-radius: 1rem;
    border: 2px blue solid;
    box-shadow: 2px 2px 8px blue; 
    padding: 2rem;
    margin: 0%;
}

.linea{
   display: contents;
}
.subseccion1,
.subseccion2{
    display: grid;
}

input{
    grid-column: 2;
    margin: 0%;
    width: 20rem;
    height: 1.5rem;
    box-shadow: 2px 2px 8px black;
}

label{
grid-column: 1;
margin: 1rem;

}

.boton{
    height: 3rem;
    width: 5rem ;
    border: 1rem;
    font-size: 1rem;
    border: solid 2px black;
    box-shadow: 2px 2px 8px black;
}

.imagenLogo{
    width: 6rem;
    height: auto;
}

.loginFoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 1rem;
   
}
.zocalo{
 text-align: center;
 margin-top: 2rem;
   
}