
.contenedor{
  
   width: 80vw;
   height: auto;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   

}
.turnocuerpo{
    margin:1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
    box-shadow: 2px 2px 8px black;
    border-radius: 1rem;
    width: fit-content;
    height: auto;
    border: 1px black solid;
    padding: 1rem;
    
}